body{
    background-image: url('../img/bg.jpg');
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    max-width:100vw;
    overflow-x: hidden;
    color:#fff;
    font-family:sans-serif;
    background-color: rgb(0,0,10);
}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    max-width:100vw;
}
section{
    width:100vw;
    overflow-x: hidden;
}
.header-container{
    display: flex;
    width:100%;
    height:70px;
}
.fixed{
    position: fixed;
}
.header-container .title{
    width:50%;
    height:100%;
    padding:20px;
    text-align:left;
    padding-left:100px;
    background-color:rgb(0,0,10);
    color:linear-gradient(90deg, rgba(2,16,27,1) 0%, rgba(88,63,153,1) 22%, rgba(166,67,229,1) 48%, rgba(138,88,228,1) 63%, rgba(75,43,126,1) 77%, rgba(0,11,255,1) 100%);
}
.header-container .title-buttons{
    width:50%;
    height:100%;
    background-color:rgb(0,0,10);
    padding:10px;
    text-align:left;
    color:rgb(155,155,250)
}
.header-container .title-nav-btn{
    display:none;
    background-color:rgb(0,0,10);
    width:10%;
    right:10px;
    padding:15px;
    cursor:pointer;
}
@media screen and (max-width:800px){
    .header-container .title{
        width:80%;
    }
    .header-container .title-nav-btn{
        width:20%;
    }

}
.header-container .title-nav-btn .nav-line{
    width:90%;
    height:3px;
    border-top:3px solid white;
    margin-bottom:10px;
    transition:1s;
}
.header-container .title-nav-btn:hover .nav-line{
    background-color:#fff;
    transition:1s;
}
.side-nav{
    position:absolute;
    top:0;
    right:-70vw;
    width:70vw;
    height:100vh;
    z-index:1000;
    background-color:rgb(0,0,10);
    display:none;
    transition:1.8s;
    padding:30px;

}
@media screen and (min-width:1000px){
    .side-nav{
        display:none;
    }
}
.appear{
    right:0;
    transition:1.8s;
    display:block;
    position:fixed;
}
.side-nav .side-nav-close{
    display:flex;
    height:70px;
    flex-direction: row-reverse;
    margin-bottom:40px;
}
.side-nav .side-nav-close .close-btn{
    width:70px;
    height:60px;
    margin-right:3%;


}
.side-nav .side-nav-close .close-btn img{
    width:100%;
    height:100%;
}
.side-nav .side-nav-btn{
    width:100%;
    height: 70px;
    border-bottom:2px solid rgb(155,155,250);
    border-top:2px solid rgb(155,155,250)

}
.side-nav .side-nav-btn button{
    border:none;
    background-color: transparent;
    width:100%;
    height:100%;
    color:#fff;
    font-weight: bolder;
    text-transform:uppercase;
}
@media screen and (max-width:1000px){
    .header-container .title{
        width:88%;
        padding-left:20px;
    }
    .header-container .title-buttons{
        display:none;
    }
    .header-container .title-nav-btn{
        display:block;
       
    }
    .header-container .title-nav-btn .nav-line{
        width:100%;
        height:5px;
    }
}

.header-container .title-buttons button{
    width:100px;
    height:100%;
    border:none;
    background-color: transparent;
    color:rgb(155,155,250);
    font-weight: bold;
    text-transform: capitalize;
    cursor:pointer
}
.header-container .title-buttons .sign{
    border:3px solid rgb(155,155,250); 
    border-radius: 5px;
}
.header-container h1{
    margin:auto;
}
.desc-container{
    width:100%;
    height:auto;
    text-align:center;
    padding-top:10vh;
    overflow-y: hidden;
    padding-bottom:20px;
    background-color:rgb(0,0,10, 0.6)
}
@media screen and (max-width:1000px){
    .desc-container{
        padding:20px;
    }
}
.desc-container h1{
    font-size:4em;
    padding-bottom:40px;
    text-shadow: 2px 8px 8px rgb(0,0,0);
}

.desc-container h1 span{
    color:navy;
}
@media screen and (max-width:1000px){
    .desc-container h1{
        font-size:2em;
    }
    
}
.desc-container .text{
    font-size: 3em;
}

.desc-container h2{
    text-shadow: 4px 16px 8px rgb(0,0,0);

}
@media screen and (max-width:1000px){
    .desc-container h2{
        font-size:1em;
    }
    
}
.desc-container button{
    width:200px;
    height:70px;
    border:none;
    background-color: #000;
    color:#fff;
    border:3px solid #fff;
    border-radius: 5px;
    margin-top: 50px;
    cursor:pointer;
}
.difference{
    display:flex;
    width:90%;
    margin:auto;
    height:auto;
    padding-top:100px;
}
.difference .difference-container{
    width:45%;
    margin:auto;
    height:400px;
    background-color: rgb(0,0,10);
    border: 4px solid rgb(0,0,20);
    border-radius: 10px;
    text-align:left;
    padding:30px;
}
@media screen and (max-width:1000px){
    .difference{
        display:block;
    }
    .difference .difference-container{
        width:95%;
        height:auto;
        margin-bottom:50px;

    } 
}
.difference .difference-container h2,h5,h4{
    padding-bottom:40px;
}
.difference .difference-container h2{
    font-size:1.5em ;
    text-transform: uppercase;
}
.difference .difference-container a{
    color:rgb(155,155,250)  
}
.difference .difference-container a h2{
    text-transform: capitalize;
    color:rgb(155,155,250)
}
.difference .difference-container h5{
    font-size:20px ;
    color:rgb(155,155,250)
}
.difference .difference-container h4{
    font-size: 18px;
}
.body-con{
    display:flex;
    flex-wrap:wrap;
    padding-left:12.5%;
    padding-right:12.5%;
}
.card{
    width:45%;
    height:auto;
    background-color:#fff;
    border:3px solid rgb(155,155,250);
    border-radius: 10px;
    background-color:rgb(0,0,10);
    /** hello world*/
    margin:4px;
    margin-left: 40px;
    margin-top: 40px;
    padding:50px;
}
@media screen and (max-width:1000px){
    .card{
        width:98%;
        margin:auto;
        margin-top:40px;
    }
}
.card .card-title{
    text-transform: uppercase;
    font-weight: bolder;
}
.card .card-body .btn-container{
    display:flex;
    margin-top:20px;
    
}
.card .card-body .btn-container button{
    width:100px;
    height: 40px;
    border-radius: 5px;
    font-weight:bold;
    color: #fff;
    margin-right:15px;
    border:none;
    
}
.card .card-body .btn-container .read{
    background-color:rgb(0,0,10);
    border:3px solid rgb(155,155,250);
}
.card .card-body .btn-container .edit{
    background-color:blue;
}
.card .card-body .btn-container .delete{
    background-color:red;
}
.card .card-body .btn-container button a{
    color:#fff;
    text-decoration: none;
    text-transform:uppercase;
}
.footer-container{
    display:flex;
    padding:75px;
    height:auto;
    background-color: rgb(0,0,10);
    margin-top:100px;
    color:rgb(155,155,250)
}
.footer-container {
    border-top:3px solid rgb(155,155,250);
}
@media screen and (max-width:1000px){
    .footer-container{
        display:block;
        height:auto;
        padding:35px;
    }
}
.footer-title{
    width:40%;
    height:auto;
    padding: 50px;
}
.footer-sub{
    display: flex;
    width:50%;
    height:auto;

}
@media screen and (max-width:1000px){
    .footer-title, .footer-sub{
        width:100%;
        height:auto;
    }

}
.footer-sub-sub{
    width:20%;
    margin:auto;
    height:auto;
    display:block;
}
.footer-sub-align{
    display: flex;
    width:100%;
}
@media screen and (max-width:1000px){
    .footer-sub-sub{
        width:100%;
        height:auto;
        margin:0;
        padding-left:10px;
        text-align:right;
    }
    .footer-sub-align{
        display: block;
    }
}
.selector{
    width:100%;
    height:auto;
    display: flex;
    padding:50px;
    padding-top:0;
}
.selector .image-container{
    width:60%;
    height:auto;
    background-color: rgb(0,0,10, 0.9);


}
@media screen and (max-width:1000px){
    .selector{
        display:block;
        padding:0;
    }
    .selector .image-container{
        width:100%;
    }
}
.selector .image-container img{
    width:100%;
    height:auto;
    margin-top:50px;
}
.selector .text-container{
    width:40%;
    display:block;
    border-radius: 20px;
    background-color: rgb(0,0,10);
    margin-top:100px;
    text-align: left;
    padding:40px;
    height:auto;
}
@media screen and (max-width:1000px) {
    .selector .text-container{
        width:100%;
    }    
}
.selector .text-container h3 a{
    color:rgb(155,155,250)
}
#text{
    height:auto;
    position :relative;
}
#text::after{
    content:"";
    position:absolute;
    border-right: 3px solid white;
    width:1px;
    height:100%;
    animation: blink 1.5s infinite;
}
.typing{
    position :relative;
}
.typing::after{
    content:"";
    position:absolute;
    border-right: 3px solid white;
    width:1px;
    height:40px;
    animation: blink 1s infinite;
}
@keyframes blink{
    0%{
        opacity: 0 ;
    }
    100%{
        opacity:1;

    }
}